.w100{
	width: 100px;
}
.w150{
	width: 150px;
}
.mt10{
		margin-top: 10px;
}
.valign-top{
	vertical-align: top;
}
.mquiz-post-table{
	background: #fff;
	width: 100%;
	border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
	th, td{
		border: 0;
		padding: 5px 15px;
		text-align: left;
	}
	
	label{
		font-weight: bold;
		font-size: 14px;
	}
	
}
.mquiz-form-group{
	display: block;
	width: 100%;
	.form-controls{
		padding: 5px 8px;
	    font-size: 14px;
	    line-height: 100%;
	    width: 100%;
	    outline: 0;
	    margin: 0 0 3px;
	    background-color: #fff;
	}
	#quiz_time{
		width: 200px;
	}
}
.mquiz-form-inline{
	.form-controls, div.checkbox{
		display: inline-block;
	}
	div.checkbox{
		margin-left: 10px;
		position: relative;
		vertical-align: top;
		padding-top: 5px;
		input{
			position: absolute;
			top: 11px;
			left: 0;
		}
		label{
			padding-left: 25px;
		}
	}
}

.mquiz-form-answer-correct{
	label{
		font-weight: normal;
	}
	.checkbox{
		margin-bottom: 5px;
	}
	.percent_box{
		input{
			width: 50px;
			margin-right: 10px;
		}
	}
}
#answer-response{
	tr{
		td, th{
			border-bottom: 1px dotted #ccc;
			padding-top: 10px;
		}
		&:last-child{
			td, th{
				border-bottom: 0;
			}
		}
	}
}
.misc-questions-count{
    &:before{
        color: #82878c;
	    content: "\f203";
	    font: 400 20px/1 dashicons;
	    speak: none;
	    display: inline-block;
	    margin-left: -1px;
	    padding-right: 3px;
	    vertical-align: top;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
    }
    #post-questions-count{
	    color: red;
	    font-weight: bold;
    }
}
.add-questions-button{
	margin-top: 10px;
	text-align: center;
}
#add-question-modal{
	    background: #fff;
    border: 5px solid #eee;
    top: 0;
    max-width: 80%;
}
.mquiz-modal-footer{
	margin-top: 20px;
}